

{% extends 'base.html' %}

<html>
<head>
    
  {% block title %}

    <title>Login form</title>

    {% endblock %}
</head>
<body>
  {% block content %}
  <div>
    <form method="post">
      {% csrf_token %}
      <label for="un">ENTER USERNAME:</label>
      <input type="text" id="un" name='un'>
      <br/>
      <br/>
      <label for="pw">ENTER PASSWORD:</label>
      <input type="password" id="pw" name="pw"/>
      <br/>
     <br/>
     
     <input type="submit" value="LOGIN" class="btn btn-outline-success btn-lg">
     
     <br/>
     <br/>
     
     <input type="submit" value="LOG OUT" class="btn btn-outline-success btn-lg">

    </form>


  </div>
  {% endblock %}

</body>
</html>