{% extends 'base.html' %}

{% block title %}
    <title>Likes</title>
{% endblock %}

{% block content %}
    <h1>Likes</h1>
    
    
    <ul>
        {% for likes in likes %}
            <li>
                {{ likes.user.username }} liked the question: "{{ likes.answer.likes.title }}"
            </li>
        {% endfor %}
    </ul>
    
    <h2>Answers</h2>
    <ul>
        {% for answer in answers %}
            <li>
                {{ answer.user.username }} liked the answer to the question: "{{ answer.question.title }}"
            </li>
        {% endfor %}
    </ul>
{% endblock %}
